# MacOS
.DS_Store

# Gradle
.gradle
build

# Maven
target

# IntelliJ
.idea
*.iml
out

# .vscode/*
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.zed/*
!.zed/settings.json
!.zed/tasks.json
